<link rel="stylesheet" href="/css/lib/bootstrap/dist/css/log_reg.css">


<div class="center" id="login_container" style="text-align: center;">
    <form class="center" style="width: 60%;">
        <p data-bind="with: error">
            <span data-bind="visible: error !== '', text: error"></span>
        </p>
        <div class="form-group">
            <p class="align_text_left">Username: </p> 
            <input class="form-control" data-bind="value: username" />
            <small class="form-text text-muted align_text_left">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <p class="align_text_left">Password: </p>
            <input type="password" class="form-control" data-bind="value: password" />
        </div>
        <button class="btn btn-primary col-4 mt-3" data-bind="click: login">Login</button>
    </form>
</div>