    <div class="container_login center" id="login_container" style="color: aliceblue;">
        <form class="center" style="width: 60%;">
            <div class="form-group">
                Username: <input class="form-control" data-bind="value: username" />
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                Password: <input type="password" class="form-control" data-bind="value: password" />
            </div>
            <button class="btn btn-primary col-4 mt-3" data-bind="click: login">Login</button>
        </form>
        <!-- <p class="text-muted center" onclick="switch_to_signup()" id="log_info" style="margin-top: 230px;">Not a user yet? Register now!</p> -->
    </div>


<!-- <script>
    function switch_to_signup(){
    document.getElementById('login_container').style.visibility='hidden';
    document.getElementById('signup_container').style.visibility='visible';
    }
    function switch_to_login(){
    document.getElementById('signup_container').style.visibility='hidden';
    document.getElementById('login_container').style.visibility='visible';
    }
</script> -->