<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(250, 164, 114, 0.966); font-size: 25px; font-weight:bold;">
    <!---fixed-top--->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Genre
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Adventure</a>
                    <a class="dropdown-item" href="#">Comedy</a>
                    <a class="dropdown-item" href="#">Documentary</a>
                    <a class="dropdown-item" href="#">Drama</a>
                    <a class="dropdown-item" href="#">Horror</a>
                    <a class="dropdown-item" href="#">Romance</a>
                    <a class="dropdown-item" href="#">War</a>
                    <a class="dropdown-item" href="#">Western</a>

                </div>
            </li>

            <!----
            <li class="nav-item">
                <a><button data-bind="click: addTitle" class="btn btn-primary">Add Title</button></li></a>-->
        </ul>
    </div>
    <form class="d-inline-flex">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
</nav>

