<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" href="/css/lib/bootstrap/dist/css/searched_titles.css">

<div data-bind="with: searched_titles">
    
    <div data-bind="foreach: data.$values" class="flex-container wrap">
        
        <div class="d-flex desc_container center" id="match" style="background-color: rgb(0, 0, 0);" data-bind="click: $component.titleDetails">
            
            <img id="imd" width="260px" height="400px" data-bind="attr:{src: genres.$values[0].title.omdb.poster}" alt="">
            <div style="background: rgba(0, 0, 0, 0.521);" id="cont">
                <h4>
                    <span data-bind="text: originalTitle"></span>
                </h4>   

                <p data-bind="text: genres.$values[0].title.omdb.plot" id="plot"></p>
                
                <div class="d-flex" id="info">

                    <div id="mini_container">
                        
                        <div id="director">
                            <h4>Director</h4>
                            <p data-bind="text: genres.$values[0].title.director.person.personName"></p>
                        </div>
    
                        <div id="stars">
                            <h4>Stars: </h4>
                            <ul data-bind="foreach: genres.$values[0].title.principal.$values">
                                <li data-bind="text: person.personName" style="margin-right: 10px;"></li>
                            </ul>
                        </div>
    
                        <div id="genre">
                            <h4>Genre:</h4>
                            <ul data-bind="foreach: genres.$values">
                                <li data-bind="text: genreName"></li>
                            </ul>
                        </div>

                        <div id="director" style="margin-top: 10px;" data-bind="visible: genres.$values[0].title.omdb.awards != 'N/A'">
                            <h4>Awards:</h4>
                            <p data-bind="text: genres.$values[0].title.omdb.awards"></p>
                        </div>
                    </div>
    
                    <div id="votes_container">
                        <div>
                            <h4>Votes</h4>
                            <p data-bind="text: genres.$values[0].title.titleRating.votes"></p>
                        </div>

                        <div>
                            <h4>Rating</h4>
                            <p data-bind="text: genres.$values[0].title.titleRating.ratingAvg"></p>
                        </div>

                    </div>
                </div>      
            </div>
        </div>     
    </div>
</div>
 




