<link rel="stylesheet" href="/css/lib/bootstrap/dist/css/front_page.css">

<div style="background-color: black; padding: 22px 0px; border-bottom: 1px solid rgba(214, 121, 45, 0.514);">
  <h4 class="text-white" style="margin: 11px 15px; font-size: 35px;">TOP TITLES</h4>
</div>

<div class="flex-container wrap" data-bind = "foreach: titles">
    <div class="title_container" data-bind="click: $component.titleDetails, title : titleId">       
        <img id=imd width="95%px" height="69%" data-bind= "attr: {src: omdb.poster, click : $component.titleDetails}">

        <p class="bottom-0" style="text-align:center; margin-top: 15px; font-weight:bold; border-top: 2px solid white; padding-top: 10px"></p>

        <span data-bind="text: originalTitle" style="font-weight: bold; font-size: 14px;"></span>
        
        <div style="font-size: 12px;">
            <p data-bind="text: titleType.toUpperCase()" style="margin: 10px 0px;"></p>
            <span data-bind="text: titleRating.ratingAvg"></span>/10
            <span class="iconify" data-icon="ant-design:star-filled" style="color: gold; padding-top: 2px;"></span>
            <div class="d-flex justify-content-center" style="margin-top: 5px;">
                <p style="font-weight: bold; margin-right: 6px;">Votes:   </p> 
                <span data-bind="text: titleRating.votes" style="font-style: bold;"></span>
            </div>
        </div> 
    </div>
</div>
