
<style>
    #imd{
        background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYAmOXK39y1kgHp4rnTsjrmR-CXYJBjytBUWlG4nK476p-Kqp4GW1IoUe82CLfvvvdKvc&usqp=CAU');  
        background-repeat: no-repeat;
        background-size: cover; 
    }
</style>
<h1>tesst</h1>
<div class="d-flex" data-bind = "foreach: titles">
    <div id="title_container" class="container" data-bind="click: $component.titleDetails"
    style="text-align: center; border-radius: 5px; 
    background: rgb(181 181 181);         
    border: 1px solid rgb(0 0 0); 
    padding: 20px 20px; 
    width: 15%; 
    margin: 40px 15px;">
               
        <img id=imd width="200px" height="300" data-bind= "attr: {src: genres.$values[0].title.omdb.poster}">
        <p class="bottom-0" style="text-align:center; margin-top: 15px; font-weight:bold; border-top: 2px solid white; padding-top: 10px"></p>
        <span data-bind="text: primaryTitle" style="font-weight: bold; font-size: 14px;"></span>
        
        <div style="font-size: 12px;">
            <p data-bind="text: titleType.toUpperCase()"></p>
            <span data-bind="text: genres.$values[0].title.titleRating.ratingAvg"></span>/10
            <span class="iconify" data-icon="ant-design:star-filled" style="color: gold; padding-top: 2px;"></span>
            <div class="d-flex justify-content-center" style="margin-top: 5px;">
                <p style="font-weight: bold; margin-right: 6px;">Votes:   </p> 
                <span data-bind="text: genres.$values[0].title.titleRating.votes" style="font-style: bold;"></span>

            </div>
            
        </div> 
        

        
    </div>
</div>

