<h1>Titles</h1>
        <div class="d-flex justify-content-center" style="background:rgb(31 27 27 / 0.72)">
            <!--tbody foreach--->
            <div id="title_container" class="container" style="text-align: center; border-radius: 5px; background: rgb(181 181 181); border: 1px solid rgb(0 0 0); padding: 20px 20px; width: 230px; margin: 50px 15px">
                <img style="border: 1px solid rgb(0 0 0 / 0.25);" src="images/1.jpg" alt="Alternate Text" />
                <p class="bottom-0" style="text-align:center; margin-top: 15px; font-weight:bold; border-top: 2px solid white; padding-top: 10px">Title name</p>
                
                <div class="d-inline-flex">
                    <p>7/10</p>
                    <span class="iconify" data-icon="ant-design:star-filled" style="color: gold; padding-bottom: 8px;" data-width="25"></span>
                </div>
                
            </div>

            <div class="container" style="border-radius: 5px; background: rgb(181 181 181); border: 1px solid rgb(0 0 0); padding: 20px 20px; width: 230px; margin: 50px 15px">
                <img style="border: 1px solid rgb(0 0 0 / 0.25);" src="images/2.jpg" alt="Alternate Text" />
                <p class="bottom-0" style="text-align:center; margin-top: 15px; font-weight:bold; border-top: 2px solid white; padding-top: 10px">Title name</p>
            </div>

            <div class="container" style="border-radius: 5px; background: rgb(181 181 181); border: 1px solid rgb(0 0 0); padding: 20px 20px; width: 230px; margin: 50px 15px ">
                <img style="border: 1px solid rgb(0 0 0 / 0.25);" src="images/3.jpg" alt="Alternate Text" />
                <p class="bottom-0" style="text-align:center; margin-top: 15px; font-weight:bold; border-top: 2px solid white; padding-top: 10px">Title name</p>
            </div>
            <div class="container" style="border-radius: 5px; background: rgb(181 181 181); border: 1px solid rgb(0 0 0); padding: 20px 20px; width: 230px; margin: 50px 15px">
                <img style="border: 1px solid rgb(0 0 0 / 0.25);" src="images/4.jpg" alt="Alternate Text" />
                <p class="bottom-0" style="text-align:center; margin-top: 15px; font-weight:bold; border-top: 2px solid white; padding-top: 10px">Title name</p>
            </div>

            <div class="container" style="border-radius: 5px; background: rgb(181 181 181); border: 1px solid rgb(0 0 0); padding: 20px 20px; width: 230px; margin: 50px 15px">
                <img style="border: 1px solid rgb(0 0 0 / 0.25);" src="images/5.jpg" alt="Alternate Text" />
                <p class="bottom-0" style="text-align:center; margin-top: 15px; font-weight:bold; border-top: 2px solid white; padding-top: 10px">Title name</p>
            </div>

            <div class="container" style="border-radius: 5px; background: rgb(181 181 181); border: 1px solid rgb(0 0 0); padding: 20px 20px; width: 230px; margin: 50px 15px">
                <img style="border: 1px solid rgb(0 0 0 / 0.25);" src="images/6.jpg" alt="Alternate Text" />
                <p class="bottom-0" style="text-align:center; margin-top: 15px; font-weight:bold; border-top: 2px solid white; padding-top: 10px">Title name</p>
            </div>

            <div class="container" style="border-radius: 5px; background: rgb(181 181 181); border: 1px solid rgb(0 0 0); padding: 20px 20px; width: 230px; margin: 50px 15px ">
                <img style="border: 1px solid rgb(0 0 0 / 0.25);" src="images/7.jpg" alt="Alternate Text" />
                <p class="bottom-0" style="text-align:center; margin-top: 15px; font-weight:bold; border-top: 2px solid white; padding-top: 10px">Title name</p>
            </div>
        </div>