<h3>slider</h3>
<div id="carouselControls" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <!---item-->
    <div class="d-flex justify-content-center" style="background:rgb(31 27 27 / 0.72)">
        <!--tbody foreach--->
        <div class="container" style="border-radius: 5px; background: rgb(181 181 181); border: 1px solid rgb(0 0 0); padding: 20px 20px; width: 230px; margin: 50px 15px">
            <img style="border: 1px solid rgb(0 0 0 / 0.25);" src="images/1.jpg" alt="Alternate Text" />
            <p class="bottom-0" style="text-align:center; margin-top: 15px; font-weight:bold; border-top: 2px solid white; padding-top: 10px">Title name</p>
        </div>

        <div class="container" style="border-radius: 5px; background: rgb(181 181 181); border: 1px solid rgb(0 0 0); padding: 20px 20px; width: 230px; margin: 50px 15px">
            <img style="border: 1px solid rgb(0 0 0 / 0.25);" src="images/2.jpg" alt="Alternate Text" />
            <p class="bottom-0" style="text-align:center; margin-top: 15px; font-weight:bold; border-top: 2px solid white; padding-top: 10px">Title name</p>
        </div>

        <div class="container" style="border-radius: 5px; background: rgb(181 181 181); border: 1px solid rgb(0 0 0); padding: 20px 20px; width: 230px; margin: 50px 15px">
            <img style="border: 1px solid rgb(0 0 0 / 0.25);" src="images/3.jpg" alt="Alternate Text" />
            <p class="bottom-0" style="text-align:center; margin-top: 15px; font-weight:bold; border-top: 2px solid white; padding-top: 10px">Title name</p>
        </div>

        <div class="container" style="border-radius: 5px; background: rgb(181 181 181); border: 1px solid rgb(0 0 0); padding: 20px 20px; width: 230px; margin: 50px 15px">
            <img style="border: 1px solid rgb(0 0 0 / 0.25);" src="images/10.jpg" alt="Alternate Text" />
            <p class="bottom-0" style="text-align:center; margin-top: 15px; font-weight:bold; border-top: 2px solid white; padding-top: 10px">Title name</p>
        </div>
    </div>
</div>  
<!--item2-->
<div class="carousel-item">
    <div class="d-flex justify-content-center" style="background:rgb(31 27 27 / 0.72)">
        <!--tbody foreach--->

        <div class="container" style="border-radius: 5px; background: rgb(181 181 181); border: 1px solid rgb(0 0 0); padding: 20px 20px; width: 230px; margin: 50px 15px">
            <img style="border: 1px solid rgb(0 0 0 / 0.25);" src="images/4.jpg" alt="Alternate Text" />
            <p class="bottom-0" style="text-align:center; margin-top: 15px; font-weight:bold; border-top: 2px solid white; padding-top: 10px">Title name</p>
        </div>

        <div class="container" style="border-radius: 5px; background: rgb(181 181 181); border: 1px solid rgb(0 0 0); padding: 20px 20px; width: 230px; margin: 50px 15px">
            <img style="border: 1px solid rgb(0 0 0 / 0.25);" src="images/5.jpg" alt="Alternate Text" />
            <p class="bottom-0" style="text-align:center; margin-top: 15px; font-weight:bold; border-top: 2px solid white; padding-top: 10px">Title name</p>
        </div>

        <div class="container" style="border-radius: 5px; background: rgb(181 181 181); border: 1px solid rgb(0 0 0); padding: 20px 20px; width: 230px; margin: 50px 15px">
            <img style="border: 1px solid rgb(0 0 0 / 0.25);" src="images/6.jpg" alt="Alternate Text" />
            <p class="bottom-0" style="text-align:center; margin-top: 15px; font-weight:bold; border-top: 2px solid white; padding-top: 10px">Title name</p>
        </div>

        <div class="container" style="border-radius: 5px; background: rgb(181 181 181); border: 1px solid rgb(0 0 0); padding: 20px 20px; width: 230px; margin: 50px 15px">
            <img style="border: 1px solid rgb(0 0 0 / 0.25);" src="images/7.jpg" alt="Alternate Text" />
            <p class="bottom-0" style="text-align:center; margin-top: 15px; font-weight:bold; border-top: 2px solid white; padding-top: 10px">Title name</p>
        </div>

        <div class="container" style="border-radius: 5px; background: rgb(181 181 181); border: 1px solid rgb(0 0 0); padding: 20px 20px; width: 230px; margin: 50px 15px">
            <img style="border: 1px solid rgb(0 0 0 / 0.25);" src="images/1.jpg" alt="Alternate Text" />
            <p class="bottom-0" style="text-align:center; margin-top: 15px; font-weight:bold; border-top: 2px solid white; padding-top: 10px">Title name</p>
        </div>

        <div class="container" style="border-radius: 5px; background: rgb(181 181 181); border: 1px solid rgb(0 0 0); padding: 20px 20px; width: 230px; margin: 50px 15px">
            <img style="border: 1px solid rgb(0 0 0 / 0.25);" src="images/2.jpg" alt="Alternate Text" />
            <p class="bottom-0" style="text-align:center; margin-top: 15px; font-weight:bold; border-top: 2px solid white; padding-top: 10px">Title name</p>
        </div>
    </div>
</div>

<a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev" style="width: 150px; padding-right: 40px;">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next" style="width: 150px; padding-right: 40px;">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>