

<style>
.profile_container{
    width: 60%;
    background-color: black;
    color: white;
    padding: 15px 40px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}
.profile_container ul{
    list-style: none;
    margin: 0;
    padding: 0;    
}

.profile_container ul li{
    margin-right: 10px;
}

#hist{
    padding: 15px 20px;
    background-color: bisque;
}

#user{
    padding: 15px 20px;
    background-color: aqua;
}
#bookmark{
    padding: 15px 20px;
    background-color: rgb(11, 9, 39);
}
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



<div class="profile_container center">

    <div id="user">
        <h4>Username</h4>
        <p>Jesse</p>
    </div>
    
    <div id="hist">
        
        <div class="d-flex">
            <h4 style="margin-right: 10px;">Search History</h4>
            <p style="font-size: 20px;">(Last 10 searches)</p>
        </div>
        
        <ul>
            <li>James town</li>
            <li>Doc</li>
            <li>Skyfall</li>
            <li>James town</li>
            <li>Doc</li>
            <li>Skyfall</li>
            <li>James town</li>
            <li>Doc</li>
            <li>Skyfall</li>
            <li>Skyfall</li>
        </ul>
    </div>
    
    <div id="bookmark">
        <h4>Bookmarked titles</h4>
        <ul>
            <li>film1</li>
            <li>film2</li>
            <li>film3</li>
        </ul>
    </div>
</div>