

<style>
   #profile_container{
      background-color: aliceblue;
   }

   #profile_container ul{
       list-style: none;
       margin: 0;
       padding: 0;    
   }
   
   #profile_container ul li{
       margin-right: 10px;
   }
   
   #hist{
       padding: 15px 20px;
   }
   
   #user{
       padding: 15px 20px;
   }
   #bookmark{
       padding: 15px 20px;
   }
   </style>
   
   <div class="align-items-center justify-content-center" data-bind="with: user" id="profile_container">
       <div id="user">
           <h1>Welcome  <span data-bind=" text: username"></span></h1>
           <h2>You joined on: <span data-bind=" text: createdDate"></span></h2>
       </div>
       <div id="hist">
           
           <div class="d-flex">
               <h4 style="margin-right: 10px;">Search History</h4>
               <p style="font-size: 20px;">(Last 10 searches)</p>
           </div>
           
           <ul data-bind="foreach:  searchHistories.$values">
               <li data-bind="text: searchString"></li>
           </ul>
       </div>
       
       <div id="bookmark">
           <h4>Bookmarked titles</h4>
           <ul data-bind="foreach:  $component.bookmarkedTitles">
               <li data-bind="click: $component.titleDetails, text: originalTitle"></li>
           </ul>
       </div>
   </div>